.authPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authPageContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  text-align: center;
}

.authPageSubtitle {
  margin: 0;
}
